* {
  margin: 0;
  padding: 0;
}

body {
    padding: 2rem;
    line-height: 1.7;
    font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.3rem;
}

p {
  margin-bottom: 1rem;
}

hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 2rem 0;
}



ul, ol {
  margin-bottom: 1.5rem;
}

ul li, ol li {
  margin-bottom: 1.5rem;
  background: #fdfdfd;
  padding: 1rem 1.2rem;
  border: 1px solid #eee;
  border-radius: 8px;
}




ul > li {
    list-style-type: none;
}

ul > li {
  background: #fdfdfd;
  padding: 1rem 1.2rem;
  border: 1px solid #eee;
  border-radius: 8px;
}




ol[reversed] > li {
  background: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  list-style: none;
}

ol[reversed] {
  counter-reset: my-counter 11; 
}

ol[reversed] > li {
  counter-increment: my-counter -1;
}

ol[reversed] > li h3::before {
  content: counter(my-counter) ". ";
}